body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #C8C6D7; /* Lavender Gray */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4A4063; /* English Violet */
  padding: 1rem 2rem;
}

.navbar a {
  color: #C8C6D7; /* Lavender Gray */
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #BFACC8; /* Thistle */
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #783F8E; /* Maximum Purple */
}

.navbar .button {
  background-color: #4F1271; /* Blue Violet Color Wheel */
  color: #FFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar .button:hover {
  background-color: #783F8E; /* Maximum Purple */
}
